<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.night.dao.CourseDao">
    <!-- 定义通用的resultMap-->
    <resultMap id="Course" type="cn.night.entity.Course">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="course_name" property="courseName"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_course(course_name, remark)
        values (#{courseName}, #{remark});
    </insert>
    <update id="update">
        update tb_course
        <include refid="update"></include>
        <include refid="Find"></include>
    </update>
    <delete id="delete">
        delete from tb_course
        <include refid="Find"></include>
    </delete>

    <!--
        <sql id="1">用来封装SQL语句，<include refid="1">来调用
    -->
    <!-- 明细查询 -->
    <select id="detail" resultMap="Course">
        select * from tb_course
        <include refid="Find"/>
        limit 1
    </select>
    <select id="query" resultMap="Course">
        select *
        <include refid="Find"/>
        from tb_course
    </select>
    <select id="count" resultType="int">
        select count(1) from tb_course
        <include refid="like"/>
        limit 1
    </select>
    <select id="like" resultMap="Course">
        select *
        from tb_course
        <include refid="like"></include>
    </select>

    <!-- 查询通用片段 -->
    <sql id="Find">
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="courseName != null and courseName != '' ">and course_name=#{courseName}</if>
            <if test="remark != null and remark != '' ">and remark=#{remark}</if>
        </where>
    </sql>
    <sql id="like">
        <where>
            <if test="id != null">and id like concat('%',#{id},'%')</if>
            <if test="courseName != null and courseName != '' ">and course_name like concat('%',#{courseName},'%')
            </if>
            <if test="remark != null and remark != '' ">and remark like concat('%',#{remark},'%')</if>
        </where>
    </sql>
    <sql id="update">
        <set>
            <if test="updateCourseName != null and updateCourseName != '' ">course_name=#{updateCourseName},</if>
            <if test="updateRemark != null and updateRemark != '' ">remark=#{updateRemark}</if>
        </set>
    </sql>

</mapper>