<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.night.dao.NoticeDao">
    <!-- 定义通用的resultMap-->
    <resultMap id="Notice" type="cn.night.entity.Notice">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="content" property="content"/>
        <result column="auth" property="auth"/>
        <result column="date" property="date"/>
    </resultMap>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_notice(title, author, content, auth, date)
        values (#{title}, #{author}, #{content}, #{auth}, #{date});
    </insert>
    <update id="update">
        update tb_notice
        <include refid="update"></include>
        <include refid="Find"></include>
    </update>
    <delete id="delete">
        delete from tb_notice
        <include refid="Find"></include>
    </delete>
    <!--
        <sql id="1">用来封装SQL语句，<include refid="1">来调用
    -->
    <!-- 明细查询 -->
    <select id="detail" resultMap="Notice">
        select * from tb_notice
        <include refid="Find"/>
        limit 1
    </select>
    <select id="query" resultMap="Notice">
        select *
        from tb_notice
    </select>
    <select id="count" resultType="int">
        select count(1) from tb_notice
        <include refid="Find"/>
        limit 1
    </select>

    <!-- 查询通用片段 -->
    <sql id="Find">
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="title != null and title != '' ">and title=#{title}</if>
            <if test="author != null and author != '' ">and author=#{author}</if>
            <if test="content != null and content != '' ">and content=#{content}</if>
            <if test="auth != null and auth != '' ">and auth=#{auth}</if>
            <if test="date != null and date != '' ">and date=#{date}</if>

        </where>
    </sql>
    <sql id="update">
        <set>
            <if test="updateTitle !=null and updateTitle != ''">title=#{updateTitle},</if>
            <if test="updateAuthor !=null and updateAuthor != ''">author=#{updateAuthor},</if>
            <if test="updateContent !=null and updateContent != ''">content=#{updateContent},</if>
            <if test="updateAuth !=null and updateAuth != ''">auth=#{updateAuth},</if>
            <if test="updateDate !=null and updateDate != ''">date=#{updateDate}</if>
        </set>
    </sql>

</mapper>